@import "Const";

.ListPageEditor{

    position: relative;
    font-size: 14px;
    border: 1px solid $colorBorderTree;
    color: $colorMainTree;

    .id{
        width: 30px;
        border-right: 1px solid $colorBorderTree;
        text-align: center;
    }
    .title{
        width: 100%;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
        }
    }
    .sub-title{
        width: 10vw;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
        }
    }
    .img{
        width: 5vw;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
        }
    }
    .edit{
        width: 50px;
        border-right: 1px solid $colorBorderTree;
        text-align: center;
    }
    .delete{
        width: 26px;
        cursor: pointer;
        text-align: center;
    }

    .header{
        display: flex;
        flex-direction: row;
        
        border-bottom: 1px solid $colorBorderTree;
        font-weight: bold;
        color: black;
        
        div{
            padding: 3px;
        }
        .id{
            width: 14px;
        }
        .title{
            padding-right: 34px;
        }
    }

    .list-page{
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: overlay;
        overflow-x: hidden;
        max-height: 90vh;
        
        .one-page{
            display: flex;
            flex-direction: row;
            //justify-content: space-between;
            align-items: center;

            &.even{
                
            }
            &.odd{
                background-color: #ececec;
            }
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        .add{
            cursor: pointer;
            padding: 5px;
        }
        .save{
            cursor: pointer;
            padding: 5px;
        }
    }

    a{
        text-decoration: none;
        color: black;
    }
    input{
        padding: 3px;
        text-align: left;
        box-sizing: border-box;
    }
}