@import "Const";

.PathEditor{

    position: relative;
    font-size: 14px;
    border: 1px solid $colorBorderTree;
    color: $colorMainTree;

    .path{
        width: 20vw;
        min-width: 200px;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
            text-align: left !important;
        }
    }
    .pid{
        width: 40px;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
        }
    }
    .priority{
        width: 40px;
        border-right: 1px solid $colorBorderTree;
        input{
            width: 100%;
        }
    }
    .delete{
        width: 26px;
        height: 20px;
        cursor: pointer;
        text-align: center;
    }
    .delete:hover{
        background-color: black;
        color: white;
    }

    .header{
        display: flex;
        flex-direction: row;
        
        border-bottom: 1px solid $colorBorderTree;
        font-weight: bold;
        color: black;

        div{
            padding: 3px;
            box-sizing: border-box;
        }

        .delete:hover{
            background-color: unset !important;
            color: black !important;
            cursor: unset !important;
        }
    }

    .list-path{
        position: relative;
        display: flex;
        flex-direction: column;
        
        overflow-y: overlay;
        overflow-x: hidden;
        max-height: 90vh;

        .one-path{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            &.even{
                
            }
            &.odd{
                background-color: #ececec;
            }
        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        .add{
            cursor: pointer;
            padding: 5px;
        }
        .save{
            cursor: pointer;
            padding: 5px;
        }
    }

    input{
        padding: 3px;
    }
}