@import "Const";

.RoleEditor{

    position: relative;
    font-size: 14px;
    border: 1px solid $colorBorderTree;
    color: $colorMainTree;

    .role{
        width: 100px;
    }

    .available{
        width: 200px;

    }

    .unavailable{
        width: 200px;

    }

    .header{
        display: flex;
        flex-direction: row;

        padding: 5px 11px;
        border-bottom: 1px solid $colorBorderTree;
        font-weight: bold;
        color: black;

        div{

        }
    }

    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div{
            cursor: pointer;
            padding: 4px 10px 6px 10px;
        }
        div:hover{
            background-color: black;
            color: white;
        }
    }

    .list-role{
        display: flex;
        flex-direction: column;

        .one-role{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            &.even{
                
            }
            &.odd{
                background-color: #ececec;
            }
        }
    }

    .delete{
        position: absolute;
        right: 0px;
        cursor: pointer;
        color: $colorMainTree;
        width: 20px;
        height: 20px;
        text-align: center;
    }
    .delete:hover{
        //background-color: black;
        color: black;
        //border: 1px solid grey;
    }

    input{
        width: 100%;
        padding: 3px;
        //border: 1px solid grey !important;
    }
    input:focus{
        color: black;
        //background-color: white;
    }
}